@use "../shared/breakpoints";
@use "../shared/style-utils";

.projectsGrid {
  @include style-utils.fill-width;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(1.2rem, 2vw, 1.75rem);
  margin: 0 auto;
}

@include breakpoints.down(lg) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}

@include breakpoints.down(md) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
