@use "../shared/breakpoints";
@use "../shared/style-utils";

.projectsGrid {
  @include style-utils.fill-width;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(1rem, 1.8vw, 1.5rem);
  margin: 0 auto;
  max-width: 92rem;
  align-items: stretch;
}

@include breakpoints.down(lg) {
  .projectsGrid {
    grid-template-columns: 1fr;
    max-width: 27rem;
  }
}
