.projectsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.25rem;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .projectsGrid {
        grid-template-columns: 1fr;
        gap: 1.75rem;
    }
}

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -2rem;
    transition: var(--transition-micro-medium);
}
